header {
  background-color: #ff9830;
}

body {
  background-color: #e0e0e0;
}

.centered {
  justify-content: center;
}

input {
  width: 100%;
  margin-bottom: 40px;
}

form {
  margin-top: 50px;
}

.sub-button {
  margin-top: 30px;
  text-align: right;
}

.sub-button > button {
  background-color: #ff9830;
  border-radius: 5px;
  border: 0;
  padding: 5px 10px;
}

img {
  width: 100%;
}
