header {
  background-color: #ff9830;
}

body {
  background-color: #e0e0e0;
}

.centered {
  justify-content: center;
}

input {
  width: 100%;
  margin-bottom: 40px;
}

form {
  margin-top: 50px;
}

.sub-button {
  margin-top: 30px;
  text-align: right;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
}

.sub-button > button {
  background-color: #ff9830;
  border-radius: 5px;
  border: 0;
  padding: 5px 10px;
}

img {
  width: 100%;
  max-height: 500px;
}

.between {
  justify-content: space-between;
}

.preview-img {
  margin-bottom: 20px;
}

.back-button {
  background-color: #e0e0e0;
  border: 1px darksaltegray solid;
  color: darkslategray;
  text-decoration: underline;
}

.add-button {
  background-color: #e0e0e0;
  border: 1px #28a745 solid;
  color: #28a745;
  padding: 6px 10px;
}

.image-data {
  text-align: center;
  justify-content: center;
}

.error-message {
  text-align: center;
  color: red;
}
